__pycache__
*.egg-info
.vscode
build
outputs
*/pointnet/
pointnet2_ops
pointnet2_ops/
*.so
pointnet2_ops/*
*/pointnet2_ops/
pointnet2_ops
pointnet2_ops/
models
models/
models/*

gpd
gpd/
gpd/*
pointnet2_ops
pointnet2_ops/

data
data/
data/*

gdp_tb_remove
gdp_tb_remove/
gdp_tb_remove/*